{% extends 'base.html' %} 
{% block body %}

<div class="container">
    <div class="card mt-5">
        <div class="card-header text-center">
            <h1>Deck Cards</h1>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-4">
                        <input class="btn btn-primary btn-lg w-100" type="submit" name="show" value="Show">
                    </div>
                    <div class="col-4">
                        <input class="btn btn-warning btn-lg w-100" type="submit" name="shuffle" value="Shuffle">
                    </div>
                    <div class="col-4">
                        <input class="btn btn-success btn-lg w-100" type="submit" name="deal" value="Deal">
                    </div>                                        
                </div>
                <div class="row">
                    {% if cards %}
                    {%for c in cards %}
                    <p>{{ c }}</p>
                    {% endfor %}
                    {% elif deal_cards %}
                    <h5>Your Cards</h5>
                    {% for c in deal_cards %}
                    <p>{{ c }}</p>
                    {% endfor %}
                    <hr>
                    <h5>Rest of cards</h5>
                    {% for c in rest_cards %}
                    <p>{{ c }}</p>
                    {% endfor %}
                    {% elif shuffle_cards %}
                    {% for c in shuffle_cards %}
                    <p>{{ c }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    {% if errors %}
    <div class="alert alert-danger">
        <p> {{ errors }}</p>
    </div>
    {% endif %}
</div>
{% endblock body %}